.wrapper{
    background-image: url('../../assets/imgs/homepage-background.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}
